body {
background-color:#8h6d6f; #151516; #0c161c; 
height: 200px
}
h1 {
font-size:14px;
}
p { 
line-height:1.5;
}
*:focus {
outline: none;
} 
.video-js {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
overflow: hidden; 
}
.video-js {
width: 100.3%;
height: 435px;
float: left;
}
.video-js .vjs-play-control .vjs-icon-placeholder:before {
content: "\f101";
background-color: #333;
}
.vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
content: "\f108";
color: #fff;
background-color: ;
}
.vjs-resolution-button .vjs-menu-button .vjs-icon-placeholder::before {
background-color: #CB4335; 
}
.video-js	.vjs-control-bar {
height: 4em;
background-color: #2B333F;
background-color: rgba(43, 51, 63, 0.7);   
}
.video-js  .vjs-button:hover {
color: #fff; #4176bc;
background: linear-gradient(to top,#CB4335, #CB4335); 
} 
.video-js .vjs-button > .vjs-icon-placeholder::before {
line-height: 2.2; 
}
.video-js .vjs-time-control {
line-height: 4em;
}
.video-js .vjs-volume-panel {
display: display;
background-color: #333;
}
.video-js .vjs-picture-in-picture-control {
display: none;
}
.video-js .vjs-progress-control .vjs-play-progress {
background-color: rgba(65, 118, 188, 0.9);
}
.video-js .vjs-progress-control .vjs-play-progress:before {
display: none;
}

.video-js .vjs-progress-control .vjs-slider {
background-color: rgba(65, 118, 188, 0.1);
}

.video-js .vjs-progress-control .vjs-load-progress div {
background: rgba(255, 255, 255, 0.5);
}

.video-js .vjs-progress-control .vjs-progress-holder {
margin: 0;
height: 100%;
}

.video-js .vjs-progress-control .vjs-time-tooltip {
background-color: rgba(65, 118, 188, 0.5);
color: #fff;
}

.video-js .vjs-progress-control .vjs-mouse-display .vjs-time-tooltip {
background-color: rgba(255, 255, 255, 0.7);
color: #4176bc;
}
.video-js .vjs-volume-bar {
  margin: 1.35em 0.45em;
  top: 0.4em; 
}
.video-js .vjs-control-bar {
display: ;
width: 100%;
margin-left: 0%;
margin-bottom: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;  
}
.vjs-default-skin .vjs-menu-button ul li {
padding: 0.4em 0 0.4em 0; 
height: 1.89em; 1.8em; 
margin-bottom: 0.2em;
font-color: #fff;
background-color: #CB4335; #E74C3C; #ff5733;
}
.vjs-default-skin .vjs-menu-button ul li.vjs-selected {
background-color: #FFF;
width:  
}
.video-js .vjs-volume-level {
position: absolute;
bottom: 0;
left: 0;
background-color: #CB4335;
.vjs-default-skin.fullscreenButton {
background-image: url(chrome://global/skin/media/fullscreenEnterButton.svg);
}

